@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900&display=swap');

body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color:#505962;
}
.asignment_description{
    text-align: center;

.offset:before{
  display: block;
  content: "";
  height: 4.57rem;
  margin-top: -4.57rem;
}

/*--- Navigation--*/

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.6)!important;
}
.navbar-brand img {
    height: 3rem;
}
.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .6rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3;
}

/*---Landing Page --*/
.home-inner{
background-image: url(img/leopard.jpg);
}
.caption {
width: 100%;
max-width: 100%;
position: absolute;
top: 38%;
z-index: 1;
color: white;

}
.caption h1 {
font-size: 2.8rem;
font-weight: 700;
letter-spacing: .3rem;
text-shadow: .2rem .2rem .8rem black;
padding-bottom: 1rem;
}
.caption h3{
font-size: 1.6rem;
text-shadow: .1rem .1rem .5rem black;
padding-bottom: 1.6rem;
}
.btn-lg {
border-width: medium;
border-radius: 0;
padding: 0.6rem 1.3rem;
font-size: 1.1rem;
}

/*---Course section---*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.narrow h1{
  font-size: 2.4rem;
}

.btn-secondary {
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: .6rem 1.2 rem;
  margin: 1rem;
  color: white;
  background-color: #1ebba3;
  border-color: #1ebba3;
}
#particles-js{
  height: 100%;
  background: #87ceeb;
}

.btn-secondary:hover {

  background-color: #189582;
  border-color: #189582;
  
}
/*--- Feature Section---*/


.jumbotron {
  margin-bottom: 0;
  padding: 0rem 0 3.5rem; 
  border-radius: 0;
}
h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  
}
.heading-underline{
  width: 3rem;
  height: .2rem;
  background-color: #1ebba3;
  margin:0 auto 2rem;
}

.feature svg.svg-inline--fa{
  color: #1ebba3;

}
.gallery h3{
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;

}
.feature p{
    font-size: 1.1rem;
}

/*--- Resources Section--*/

.fixed{
  background-image: url(img/apple.png);
  z-index: -1;
}
.dark {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 8rem 2rem;
}
.fixed-background h3{
  margin-bottom: 2rem;
}
.fixed-background p{
  margin-top: 1.5rem;
}

/*--- Clients Section---*/

.clients img {
  width: 75%;
  border-radius: 50%;
  
}
.equipments img {
  width: 50%;
  border-radius: 50%;

}

blockquote .svg-inline--fa {
  color: #1ebba3;
  margin: 1rem;
}
.clients-hr {
  border-top: .05rem solid #1ebba3;
}

/*--- Contact Section --*/
footer{
  background-color: #40474e;
  color: white;
  padding: 2rem 0 2rem;
}
footer img{
  height: 6rem;
  margin: 1.5rem 0;
}
footer a{
  color: white;
   
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
  color: #1ebba3!important;
}

hr.socket{
  width:100%;
  border-top: rem solid #666b71;
}

.gallery-block{
  padding-bottom: 60px;
  padding-top: 60px;
}

.gallery-block .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.compact-gallery .item{
  overflow: hidden;
  margin-bottom: 0;
  background: black;
  opacity: 1;
}

.gallery-block.compact-gallery .item .image{
  transition: 0.8s ease;
}

.gallery-block.compact-gallery .item .info{
  position: relative;
    display: inline-block;
}

.gallery-block.compact-gallery .item .description{
  display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    line-height: 18px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    color: #fff;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
}

.gallery-block.compact-gallery .item .description .description-heading{
  font-size: 1em;
  font-weight: bold;
}

.gallery-block.compact-gallery .item .description .description-body{
  font-size: 0.8em;
  margin-top: 10px;
  font-weight: 300;
}

@media (min-width: 576px) {

  .gallery-block.compact-gallery .item .description {
    opacity: 0; 
  }

  .gallery-block.compact-gallery .item a:hover .description {
    opacity: 1; 
  } 

  .gallery-block .zoom-on-hover:hover .image {
    transform: scale(1.3);
    opacity: 0.7; 
  }
}
@media (max-width: 767px) {
  .caption h1{
    font-size: 2rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
    }
    .caption h3{
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
    }
    .btn-lg{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    }

    .narrow h1{
      font-size: 1.5rem;
    }
    .clients img {
      max-width: 50%;
      display: block;
      margin:0 auto;
    }
}

    .blog_assignment_intro {
    background-color: black;
    padding: 1rem;
}

.title_fvd {
    color: #FF3F00;
    font-family: Bree Serif;
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
    margin: 1rem;
}

.blog_para {
    color: #FEFBF3;
    font-family: Bree Serif;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    margin: 1rem;
}

.blog_content {
    color: #FEFBF3;
    font-family: Bree Serif;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 1rem;
}

.blog_assignment_section {
    padding: 2rem;
}


/*slide show css*/

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
